<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="canonical" href="{{ fill website_url }}{{ get_url }}"/>

  <meta name="author" content="{{ fill author.name }}">
  <meta name="description" content="{{ markdown2html website_description }}">

  {{ if hasmath }} {{ insert head_katex.html }} {{ end }}
  {{ if hascode }} {{ insert head_highlight.html }} {{ end }}

  <meta name="theme-color" content="#ffffff" />
  <link rel="stylesheet" href="/css/hello-hermit.css">

{{ isnotpage /index.html }}<title>{{ markdown2html title }} | {{ fill sitename }}</title>{{ end }}
{{ ispage /index.html }}<title>{{ fill sitename }}</title>{{ end }}

  <script
      data-goatcounter="https://nathbo.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"
  ></script>
  <!-- Cloudflare Web Analytics -->
  <script
      defer
      src='https://static.cloudflareinsights.com/beacon.min.js'
      data-cf-beacon='{"token": "50535eacc11544e2adcd4b3b36b28082"}'
  ></script>
  <!-- End Cloudflare Web Analytics -->
  <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="3d29a903-b2bd-4184-ab2e-2649b0d417c1"
  ></script>
</head>

<body class="">
<!-- <body class="dark-theme"> -->
<div class="container">

{{insert header.html}}

<div class="content">

{{ ifdef layout-post }}
  <main class="post">
  <div class="post-info">
  <p style="display: flex; justify-content: space-between">
  <span>
  {{ svg clock }} {{ jlinsert read-time }}
  </span>
  <span>
    {{ svg calendar }} {{ fill date }}
  </span>
  </p>
  <p>
    {{ svg tag }} {{ jlinsert pagetags }}
  </p>
  </div>

  <article>

  <div class="post-content">
{{ end }}

<!-- Content appended here -->
